@import 'package:angular_components/css/mdc_web/theme/color-palette';

$primary-color: $material-color-blue-grey-900;
$primary-font-color: $material-color-blue-grey-50;
$secondary-color: $material-color-blue-grey-600;
$secondary-font-color: $material-color-blue-grey-50;

$base-font-color: $material-color-blue-grey-900;
$base-background-color: $material-color-blue-grey-300;

$base-card-background-color: $material-color-blue-grey-50;


